.diary{
    margin: auto;
    margin-top: 40px;
    width: 50%;
    border-left:2px solid #a08f8f ;
    padding-left: 20px; 
}
.diary:nth-child(1){
    margin-top: 100px;
}
.diary-parah{
    font-size: small;
}
.created-by{
    
    font-size: x-small;
    color: rgb(114, 106, 106);
}
.diary-bottom{
    height: 5vw;
    margin-top: 20px;
   
}

/*#FF8080*/