.header-container {
  display: flex;
}
.control-params {
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(128, 144, 163);
  padding: 6px 8px;
  border-radius: 4px;
  margin: 0 8px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}
.control-params img {
  margin-left: 10px;
}
.control-params span {
  font-size: small;
  margin-left: 10px;
  max-width: 100px;
  overflow: hidden;
}
.control-first {
  display: flex;
  width: 70%;
  align-items: center;
  overflow-x: scroll;
  /* border: 1px solid pink; */
}
.control-second {
  display: flex;
  overflow-x: scroll;
  margin-right: 11px;
  /* border: 1px solid teal; */
}
.control-first::-webkit-scrollbar,
.control-second::-webkit-scrollbar {
  display: none;
}
.control-second p {
  margin: 10px;
}
@media only screen and (max-width: 1313px) {
  .control-first {
    width: 100%;
  }
  .control-second{
      width: 100%;
  }
  .control-second p {
    margin: 3px 10px;
}
}
@media only screen and (min-width:1435px){
  .control-first{
    margin-left: 27px;
  }
}
