nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transform: translateY(60px);
    z-index: 30;
}
.signup{
    border: 1px solid white;
    font-size: 65px;
    padding: 12px 49px;
    border-radius: 6px;
    transform: translate(-187px,60px);
  
    color: rgb(166, 165, 215);
    color: white;
    position: fixed;
    
}
.signup:hover{
   
    border:1px solid rgb(224, 213, 214);
    cursor: pointer;
    color: rgb(165, 93, 129);
    background-color: white;
   
    

}
.listen{
   
    transform: translateY(7vw);
    
}
.listen h1{
    font-size: 85px;
    padding: 10px 40px;
    background-color: rgb(104, 72, 50);
    color: rgba(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
}