*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    text-align: center;
    overflow-x: hidden;



}
#shoe{
    animation: sway 2s ease-in-out  infinite alternate;
    
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes sway{
    from{
        transform: rotateZ(-20deg);
    }
    to{
        transform: rotateZ(8deg);
    }
}
.listen h1{
    animation: swa 2s ease-in-out  infinite alternate;

   
}

@keyframes swa{
    from{
       font-size: 50px;
       background-color: thistle;
    }
    to{
        font-size: 65px;
    }
}
#body,#hair{
    animation: down 2s ease-out  infinite alternate;
    
  
}

@keyframes down{
    from{
        transform:translateY(-6px)
    }
    to{
        transform: translateY(14px)
    }
}
/* #left-bud{
    animation: swing 1s ease-in-out  infinite alternate;
    
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes swing{
    from{
        transform: rotateZ(-15deg);
    }
    to{
        transform: rotateZ(2deg);
    }
} */
div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.first{
    width: 100vw;
    height: 100vh;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    animation: landing 2s ease ;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    font-style: italic;
    font-size: xx-large;
}

@keyframes landing{
    from{
        height:100vh;

    }
    to{
        height: 0;
    }
}
.aish{
    opacity: 0;
    position: relative;
    animation: opac 4s ease ;
    animation-fill-mode: forwards;
    font-size: 250px;
    z-index: 10;
}

@keyframes opac{
    0%{
        opacity: none;
        top: -10px;
        color: white;
       
       
    }
    75%{
        color: white;
    }
    100%{
        opacity: 1;
        top: 100px;
        
        color: white;

       
    }
}
span{
    animation: opa 4s ease ;
    animation-fill-mode: forwards;
}


@keyframes opa{
    0%{
        opacity: none;
        top: -10px;
        color: white;
       
       
    }
    75%{
        color: white;
    }
    to{
        opacity: 1;
        top: 100px;
       
        color: rgb(165, 93, 129);

       
    }
}

.pic{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    /* transform: translateY(-100px); */
    
}
svg{
    transform: scale(2);
}
